:root {
    --bg-color: #fdf7eb;
    --body-color: #000000;
    --orange-color: #fca15f;
    --teal-color: #4cbba0;
    --grey-color: #d9d9d9;
    --low-teal-color: hsla(165, 45%, 52%, 0.374);
}

/* html {
    /*SNAP SCROLL*/
    /*scroll-snap-type: y mandatory;
} */

body {
    background-color: var(--bg-color);
    font-family: "Instrument Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="%23000" d="M4.5.79v22.42l6.56-6.57h9.29L4.5.79z"></path></svg>'), auto;
}



/* SCROLL BAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--low-teal-color);
}

::-webkit-scrollbar-thumb {
    background: var(--orange-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--teal-color);
}

header {
    height: 100vh;
    width: auto;
}

header div {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;

    z-index: 3;
}

header div img {
    width: 50%;
    margin-bottom: 1em;
}

header p {
    font-size: 2em;
}

#div-video {
    overflow: hidden;
    /*height: 100%;
    width: 100%;*/
}

#overlay-vid {
    /*width: 100%;
    height: 100vw;*/
    background-color: var(--low-teal-color);
    /*opacity: 0.7;*/

    height: 100%;
    width: 100%;
    z-index: 2;
}

#overlay-vid img {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    object-fit: cover;

}



video {
    width: auto;
    /* height: fit-content; */
    height: 100%;
    vertical-align: middle;
}

.asterisco {
    position: absolute;
    animation: rotate 5s linear infinite;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

nav, .navbar {
    z-index: 10;
    position: fixed;
    height: auto;
    width: 100%;

    bottom: 1vh;
    background-color: transparent;
}

.navbar-brand, .navbar-nav a {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 2em;
}

ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    margin: 0;
}

.nav-item {
    background-color: transparent;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: var(--trans-color) !important;
}

.dropdown {
    position: relative;
    left: 0;  
}

.dropdown-toggle {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 1em;
    bottom: 0.7em;
}

.menu-show {
    display: block;
}

.dropdown-menu {
    z-index: 7;
    position: absolute;
    top: 20vh;
    left: 0;
    margin-left: 0em;

    background-color: var(--teal-color);
}

.dropdown-item {
    color: var(--bg-color);
}

/* cuando hagamos el menu responsive tenemos 100% que ir cambiandole el left */
.dropdown-menu[data-bs-popper] {
    top: -180% !important;
    left: 22.5em !important;
    /* left: 5.5em !important; */
    margin-top: var(--bs-dropdown-spacer);
}

.container-fluid {
    height: auto;
}

.btn-warning {
    border-radius: 25%;
    border: 1px solid #000;
    background-color: var(--orange-color);
    font-size: 1em;

    --bs-btn-bg: var(--orange-color);
    --bs-btn-border-color: var(--orange-color);
    --bs-btn-hover-color: var(--body-color);
    --bs-btn-hover-bg: var(--orange-color);
    --bs-btn-hover-border-color: var(--orange-color);
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: var(--body-color);
    --bs-btn-active-bg: var(--orange-color);
    --bs-btn-active-border-color: var(--orange-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--body-color);
    --bs-btn-disabled-bg: var(--orange-color);
    --bs-btn-disabled-border-color: var(--orange-color);
}

.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
    border-radius: 25%;
    border: 1px solid #000;
    background-color: var(--teal-color);
    font-size: 1em;
    color: var(--bg-color);
    transition: all 0.5s ease;
}

.rounded {
    border-radius: 30px !important;
}

.nav-none {
    display: none !important;
}

#logo {
    z-index: 13;
    position: fixed;

    height: auto;
    width: 100%;

    top: 5vh;

    /* display: flex;
    justify-content: flex-end; */
    /* padding-right: 2vw; */
    /* padding-right: 2em; */
}

.logo-fixed {
    display: flex !important; 
    justify-content: flex-end;
    padding-right: 2em;
}

.logo-none {
    display: none !important;
}

#logo img {
    width: 15%;
    /* mix-blend-mode: difference; */
    
}

/* MENU HAMBURGUESA */
.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 2;
    color: var(--body-color);
    background-color: var(--teal-color);
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: /* var(--bs-navbar-toggler-border-radius) */20px;
    transition: var(--bs-navbar-toggler-transition);
}


/* TOAST */

.toast {
    display: block;
    position: fixed;
    z-index: 15;
    bottom: 10vh;
    right: 3vw;
}

header, section, footer {
    /*SNAP SCROLL*/
    scroll-snap-align: start;
}

section {
    /*height: 100vh;
    width: auto; */
    /* background-color: var(--bg-color); */

    width: 100%;
    height: auto;

    padding: 2em;
    margin-bottom: 5em;
}

h1 {
    color: var(--body-color);
    font-size: 12.5em;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    
    
    z-index: 8;
    position: relative;
    top: -5vh;

    margin-bottom: 0;
}

.italic {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;

    background-color: transparent;
}

.bold {
    font-family: "Instrument Sans", sans;
    font-weight: 600;  

    background-color: transparent;
}

h2 {
    font-weight: 600;
    font-size: 3em;
}

.right {
    display: flex;
    text-align: right;
}

.bottom {
    align-items: flex-end !important;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.5em;
    text-align: left;
    color: black;

    margin-bottom: 1em;
}

.container-fluid {
    position: relative;
    /*top: 5vh;*/
}

.img-div {
    height: fit-content;
    width: 100%;
}

.main-img {
    height: auto;
    width: 100%;
}

/*WHO ARE WE*/

#display-dream {
    display: flex;
    flex-direction: column;
}

#dream-team > h4 {
    border-bottom: 1.5px solid black;
    padding-bottom: 0.5em;
}

#dream-team p {
    font-size: 1em;
    font-weight: 200;
    
}

#dream-team a {
    color: black;
    text-decoration: none;
}

#dream-team a:hover {
    color: var(--orange-color);
    transition: all 0.5s ease;
}

#light-teal-dream {
    top: -21%;
    left: 78%;
}

#marivi {
    border-bottom: 1.5px solid black;
    padding-bottom: 0.5em;
    flex-direction: row;
    height: auto;
    width: 100%;
}


#marivi h4, #clara h4 {
    font-family: "Instrument Serif", serif;
    font-size: 2em;
}

#marivi, #clara {
    padding-top: 1em;
    display: flex;
    flex-direction: row;

    height: auto;
    width: 100%;
}

.left-team {
    width: 60%;
}

.right-team {
    width: 40%;
    font-family: "Instrument Serif", serif;
    font-size: 0.8em;

    display: flex;
    align-items: center;
    justify-content: flex-end
}

.right-team li {
    justify-items: flex-end;
}

#teamwork {
    position: absolute;
    bottom: -17%;
    width: fit-content;
    left: 45%;
}

#teamwork h3 {
    font-size: 5em;
    width: auto;
}

#off-set {
    position: absolute;
    right: -20%;
    width: auto !important;
    /*width: 100% !important;*/
    margin-top: -6%;

    /*ARREGLAR PQ SE DESBORDA*/
}

/* MISSION */
#light-teal-1-mission {
    right: 5%;
    top: 0%;
}

#light-teal-2-mission {
    right: 20%;
    top: 50%;
}


/*ASTERISCOS WHAT WE DO*/

#orange-1-3 {
    right: 25vw;
    top: 310%;;
}

#light-teal-1-3 {
    right: 5vw;
    top: 320%;
}

#light-teal-2-3 {
    right: 15vw;
    top: 355%;
}


/*OR WORK*/

#ast-car {
    position: absolute;
    bottom: 25%;
    right: 55%;
}


.gallery {
    padding-top: 1em;
}

.gallery-img {
    height: auto;
    width: 100%;

    padding-bottom: 1em;
}

.photo-gallery .container {
    max-width: 100%;
}

.gallery-more {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    font-family: "Instrument serif", serif;
    text-decoration: none;

    font-size: 1.5em;

    border-radius: 100px;
}

.gallery-more p {
    margin: 0;
    /* padding-right: 0.5em;
    padding-left: 0.5em; */
}

#ast-gallery {
    position: absolute;
    top: 713%;
    left: 40%;
}


/*SOCIALS*/
/* #social {
    height: 100vh;
} */

#social .asterisco {
    left: 35%;
    top: 50%;
}

#social a {
    color: black;
    text-decoration: none;
}

#social a:hover {
    color: var(--orange-color);
    transition: all 0.2s ease;
}

/*FOOTER*/

footer {
    padding: 2em;
    height: auto;
    width: 100%;
    background-color: var(--teal-color);
}

footer h1, footer li, footer ul {
    color: white;
    background-color: transparent;
}

#special-foot {
    line-height: 80%;
}

footer div {
    background-color: transparent;
    height: fit-content;
    width: 100%;
}

footer .row {
    padding-top: 0.15em;
    padding-bottom: 0;
    /* padding-bottom: 0.15em; */
}

footer .col {
    background-color: transparent;
    height: fit-content;
    line-height: normal;
}

ul {
    list-style-type: none;
    height: fit-content;
    padding-left: 0;
}

footer .container-fluid {
    /* top: 2em; */
    margin-top: 0.2em;
    border-top: 2px solid white !important;
    padding-top: 0.1em !important;
}

footer p {
    font-family: "Instrument Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 0.15em;
    color: white;

    margin-bottom: 0;
}

footer h2 {
    font-family: "Instrument Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 0.35em;

    letter-spacing: -3.2px;

    border-top: 2px solid white;
    padding-top: 0.5em;
}

footer ul li a p:hover {
    color: var(--orange-color);
    transition: all 0.5s ease;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--orange-color);
    transition: all 0.5s ease;
}

footer iframe{
    width: 100%;
    height: auto;
    border: 10px var(--orange-color);
    border-radius: 20px;
}

@media screen and (max-width: 1500px) {
    .dropdown-menu[data-bs-popper] {
        left: 20em !important;
    }
}

@media screen and (max-width: 1460px) {
    .dropdown-menu[data-bs-popper] {
        left: 15em !important;
    }
}

@media screen and (max-width: 1360px) {
    .dropdown-menu[data-bs-popper] {
        left: 10em !important;
    }

    #orange-1-3 {
        right: 25vw;
        top: 320%;
    }

    #light-teal-1-3 {
        right: 5vw;
        top: 330%;
    }

    #ast-gallery {
        top: 690%;
        left: 40%;
    }

    #social .asterisco {
        left: 32%;
        top: 60%;
    }

    footer h1 {
        font-size: 11em;
    }
}

@media screen and (max-width: 1330px) {
    .dropdown-menu[data-bs-popper] {
        left: 10em !important;
    }

    #orange-1-3 {
        right: 25vw;
        top: 350%;
    }

    #light-teal-1-3 {
        right: 5vw;
        top: 365%;
    }

    #light-teal-2-3 {
        right: 20vw;
        top: 390%;
    }

    #ast-gallery {
        top: 710%;
        left: 40%;
    }

    footer h2 {
        font-size: 0.33em;
    }
}

@media screen and (max-width: 1300px) {
    .dropdown-menu[data-bs-popper] {
        left: 8em !important;
    }
}

@media screen and (max-width: 1265px) {
    .dropdown-menu[data-bs-popper] {
        left: 5em !important;
    }

    #teamwork {
        left: 40%;
    }

    #orange-1-3 {
        right: 30vw;
        top: 360%;
    }

    #light-teal-1-3 {
        right: 5vw;
        top: 375%;
    }

    #light-teal-2-3 {
        right: 20vw;
        top: 410%;
    }

    #ast-car {
        bottom: 30%;
        right: 57%;
    }

    footer h1 {
        font-size: 10em;
    }
    
}

@media screen  and (max-width: 1220px) {
    
    .dropdown-menu[data-bs-popper] {
        left: 3em !important;
    }
    
    #teamwork {
        left: 40%;
    }

    #orange-1-3 {
        right: 30vw;
        top: 365%;
    }
    
}

@media screen and (max-width: 1199px) {

    header p {
        font-size: 1.5em;
    }

    .navbar {
        padding: 0;
    }

    .navbar .container-fluid {     
        width: 100vw;
        height: 100%;
        bottom: -6.9px;
        padding: 0;
        
    }

    .navbar-toggler {
        position: absolute;
        bottom: 5vh;
        margin-left: 2em;
    }

    .navbar-collapse {
        background-color: var(--grey-color);
        width: 100%;
        height: 100vh;

    }

    ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        position: absolute;
        width: 60%;
        left: 20vw;
        bottom: 40vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-item {
        margin-right: 0.5em;
        margin-left: 0.5em;
    }

    .navbar-brand, .navbar-nav a {
        font-size: 3em;
        transition: all 0.5s ease;
    }

    .dropdown-menu[data-bs-popper] {
        position: absolute;
        display: flex;
        left: -60vh !important;
        top: 5em !important;
    }

    .dropdown-menu .dropdown-item {
        font-size: 2em !important;        
    }

    .rounded {
        border-radius: 50px !important;
    }

    #light-teal-dream {
        top: -21%;
        left: 75%;
    }

    .dropdown-menu[data-bs-popper] {
        position: absolute;
        display: flex;
        left: -52vh !important;
    }
}

@media screen and (max-width: 1165px) {
    .dropdown-menu[data-bs-popper] {
        position: absolute;
        display: flex;
        left: -28vh !important;
    }
}

@media screen and (max-width: 1156px) {

    /* .dropdown-menu[data-bs-popper] {
        left: -1em !important;
    } */

    #orange-1-3 {
        right: 30vw;
        top: 370%;
    }

    #light-teal-1-3 {
        right: 5vw;
        top: 380%;
    }

    #light-teal-2-3 {
        right: 20vw;
        top: 425%;
    }

    #social .asterisco {
        left: 35%;
        top: 60%;
    }

    footer h1 {
        font-size: 9em;
    }

    footer h2 {
        font-size: 0.37em;
    }

    .dropdown-menu[data-bs-popper] {
        position: absolute;
        display: flex;
        left: -28vh !important;
    }
}

@media screen and (max-width: 1135px) {
    /* navbar collapses done */
    ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        width: 65%;
        left: 18vw;
    }

    #teamwork {
        left: 30%;
    }

    .dropdown-menu[data-bs-popper] {
        position: absolute;
        display: flex;
        left: -53vh !important;
    }
}

@media screen and (max-width: 1080px) {

    .dropdown-menu[data-bs-popper] {
        position: absolute;
        display: flex;
        left: -30vh !important;
    }

    #social .asterisco {
        left: 66%;
        top: 32%;
    }
}

@media screen and (max-width: 1035px) {
    ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        width: 80%;
        left: 10vw;
    }

    #marivi h4, #clara h4 {
        font-size: 1.7em;
    }

    #teamwork h3 {
        font-size: 4em;
    }

    h2 {
        font-size: 2.7em;
    }

    h5 {
        font-size: 1rem;
    }

    footer h1 {
        font-size: 8em;
    }

    footer h2 {
        font-size: 0.33em;
    }

    p {
        font-size: 1.3em;
    }

    #light-teal-2-3 {
        right: 20vw;
        top: 420%;
    }

    .dropdown-menu[data-bs-popper] {
        position: absolute;
        display: flex;
        left: -53vh !important;
    }
}

@media screen and (max-width: 991px) {
    section {
        margin-bottom: 10em;
    }

    #light-teal-dream {
        top: -22%;
        left: 75%;
    }

    #light-teal-1-mission {
        right: 25%;
        top: 50%;
    }

    #light-teal-2-mission {
        right: 50%;
        top: 80%;
    }

    #mission .row-cols-md-1>* {
        height: 20em;
    }

    h2 {
        font-size: 3.4em;
    }

    /* #do .row-cols-md-1>* {
        height: 20em;
    } */

    #orange-1-3 {
        right: 50vw;
        top: 400%;
    }

    #light-teal-1-3  {
        right: 14vw;
        top: 420%;
    }
    
    #light-teal-2-3 {
        right: 40vw;
        top: 450%;
    }

    #ast-car {
        bottom: 13%;
        right: 30%;
    }

    #ast-gallery {
        top: 755%;
        left: 35%;
    }

    #social .asterisco {
        left: 70%;
        top: 27%;
    }

    footer h2 {
        font-size: 0.34em;
        letter-spacing: -1.2px;
    }

    footer h1 {
        font-size: 7em;
    }

    .dropdown-menu[data-bs-popper] {
        position: absolute;
        display: flex;
        left: -53vh !important;
    }
}

@media screen and (max-width: 927px) {

    #logo img {
        width: 20%;
    }

    h1 {
        font-size: 10em;
    }

    .p-4 {
        padding: none !important;
    }

    #light-teal-dream {
        top: 25%;
        left: 55%;
    }

    #ast-car {
        bottom: 13%;
        right: 40%;
    }

    #teamwork {
        left: 15%;
    }

    #light-teal-2-3 {
        right: 40vw;
        top: 440%;
    }

    #ast-gallery {
        top: 725%;
        left: 35%;
    }

    .dropdown-menu[data-bs-popper] {
        position: absolute;
        display: flex;
        left: -53vh !important;
    }
}

@media screen and (max-width: 876px) {

    footer h2 {
        font-size: 0.49em;
        letter-spacing: -1.2px;
    }


    footer h1 {
        top: 0;
    }

    .dropdown-menu[data-bs-popper] {
        position: absolute;
        display: flex;
        left: -29vh !important;
    }


}

@media screen and (max-width: 815px) {
    .dropdown-menu[data-bs-popper] {
        position: absolute;
        display: flex;
        left: -28vh !important;
    }
}

@media screen and (max-width: 813px) {
    .dropdown-menu[data-bs-popper] {
        position: absolute;
        display: flex;
        left: -41vh !important;
    }
}



@media screen and (max-width: 765px) {

    .asterisco {
        width: 100px;
        height: 100px;
    }

    #logo img {
        width: 25%;
    }

    h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 3em;
    }

    header p {
        font-size: 1.3em;
        width: 50%;
    }
    
    section {
        margin-bottom: 0;
    }

    #who {
        margin-bottom: 8em;
    }

    #teamwork {
        left: 15%;
        bottom: -5em;
    }

    #teamwork h3 {
        font-size: 3em;
    }

    #social .asterisco {
        left: 60%;
        top: 33%;
    }

    #ast-gallery {
        top: 744%;
        left: 18%;
    }

    footer h1 {
        font-size: 6em;
        line-height: 90%;
    }

    #special-foot {
        line-height: 90%;
    }
    
    footer h2 {
        font-size: 0.37em;
        letter-spacing: -1.2px;
    }

    footer p {
        font-size: 0.3em;    
    }

    .dropdown-menu[data-bs-popper] {
        position: absolute;
        display: flex;
        left: -42vh !important;
    }


}


@media screen and (max-width: 600px) {
    #ast-car {
        bottom: 13%;
        right: 45%;
    }

    #ast-gallery {
        top: 730%;
        left: 18%;
    }

    #social .asterisco {
        left: 57%;
        top: 40%;
    }

    ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        bottom: 20vh;
        display: flex;
        flex-direction: column;
    }

    .dropdown-menu[data-bs-popper] {
        left: -16vh !important;
        top: 0em !important;
    }

    .navbar .container-fluid {
        bottom: -0.5em;
    }

    .navbar-nav .nav-link.show, a.nav-link .dropdown-toggle {
        font-size: 2em;
        bottom: 1.3em;
    }

}

@media screen and (max-width: 560px) {
    #teamwork {
        left: 10%;
    }

    #light-teal-dream {
        top: 25%;
        left: 47%;
    }

    #ast-car {
        bottom: 13%;
        right: 50%;
    }

    #social .asterisco {
        left: 52%;
        top: 50%;
    }

    #light-teal-2-3 {
        right: 40vw;
        top: 423%;
    }

    .navbar .container-fluid {
        bottom: -0.5em;
    }

    ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        bottom: 20vh;
        display: flex;
        flex-direction: column;
    }

    .navbar-nav .nav-link.show, a.nav-link .dropdown-toggle {
        font-size: 2em;
        bottom: 1.3em;
    }

    .dropdown-menu[data-bs-popper] {
        left: -16vh !important;
        top: 0em !important;
    }

}

@media screen and (max-width: 510px) {

    header div img {
        width: 70%;
    }

    #light-teal-dream {
        top: 33%;
        left: 60%;
    }

    #ast-car {
        bottom: 13%;
        right: 35%;
    }

    #ast-gallery {
        top: 740%;
        left: 18%;
    }

    #light-teal-1-mission {
        right: 25%;
        top: 71%;
    }

    #light-teal-2-mission {
        right: 50%;
        top: 87%;
    }

    /* #light-teal-2-3 {
        right: 40vw;
        top: 434%;
    } */

    #light-teal-1-3 {
        right: 14vw;
        top: 412%;
    }

    #orange-1-3 {
        right: 50vw;
        top: 404%;
    }

    h1 {
        font-size: 5.7em;
        top: -2vh;
    }

    h2 {
        font-size: 2em;
    }

    #teamwork {
        left: 0%;
        /* bottom: -5em; */
    }

    /* .asterisco {
        width: 100px;
        height: 100px;
    } */

    #social .asterisco {
        left: 52%;
        top: 34%;
    }

    #dream-team p {
        font-size: 0.9em;
    }

    #marivi h4, #clara h4 {
        font-size: 1.3em;
    }

    .navbar .container-fluid {
        bottom: -0.5em;
    }

    ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        bottom: 20vh;
    }

    .navbar-nav .nav-link.show, a.nav-link .dropdown-toggle {
        font-size: 2em;
        bottom: 1.3em;
    }

    .dropdown-menu[data-bs-popper] {
        left: -15vh !important;
        top: 0em !important;
    }
}

@media screen and (max-width: 465px) {
    h1 {
        font-size: 5em;
    }

    #off-set {
        right: -5%;
    }

    footer h2 {
        font-size: 0.35em;
    }

    footer p {
        font-size: 0.25em;
    }

    .dropdown-menu[data-bs-popper] {
        left: -15vh !important;
        top: 0em !important;
    }

}

@media screen and (max-width: 440px) {
    

    #orange-1-3 {
        right: 50vw;
        top: 392%;
    }

    #light-teal-1-3 {
        right: 14vw;
        top: 400%;
    }

    #light-teal-2-3 {
        right: 40vw;
        top: 413%;
    }

    #ast-gallery {
        top: 721%;
        left: 18%;
    }

    #social .asterisco {
        left: 64%;
        top: 34%;
    }

    #light-teal-1-mission {
        right: 25%;
        top: 80%;
    }

    #light-teal-2-mission {
        right: 50%;
        top: 92%;
    }

    .navbar .container-fluid {
        bottom: -0.5em;
    }

    ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
        bottom: 25vh;
    }

    .navbar-nav .nav-link.show, a.nav-link .dropdown-toggle {
        font-size: 2em;
        bottom: 1.3em;
    }

    .dropdown-menu[data-bs-popper] {
        left: -15vh !important;
    }
}